*{
    margin : 0;
    padding : 0;
}
body{
    background-color: rgb(245, 246, 247);
}
.frame{
    width: 460px;
    margin: 0 auto;
    font-size: 12px;
    font-family: '돋움';
}
.logo_div{
    width: 240px;
    height: 44px;
    margin: 0 auto;
    margin-bottom: 35px;
}
.logo_img{
    display: block;
    width: 240px;
    height: 44px;
    background: url(./naver_logo.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 240px auto;
    margin: 60px 0 54px;
    color: transparent;
}
.login{
    margin-bottom: 20px;
}
.menu_tittle {
    padding-bottom: 10px;
}
.menu_input {
    width : 100%;
    padding: 14px 10px;
    margin-bottom: 20px;
    background-color: #fff;
    cursor: pointer;
    border : 1.5px   solid #dadada;
}
.menu_input:focus {
    outline: none;
}
.date{
    display: flex;
    justify-content:space-between;
}
.date_item{
    width: 137px;
    height: 51px;
    border: 1.5px solid #dadada;
    padding-left: 10px;
}